header {
    background-color: #1a1a1a;
    color: white;
    padding: 1rem 1.2rem;
}

nav {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1.5rem;
}

nav ul a {
    color: white;
    opacity: .9;
    transition: opacity .2s;
}

nav ul a:hover {
    opacity: 1;
}
