main {
    padding: 20px;
    max-width: 800px;
    min-height: 100dvh;
    margin: auto;
}

.news-container {
    margin-top: 1.5rem;
    padding: 1rem 1.2rem;
}

.news-container ol {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem 2rem;
    gap: 16px;
}

input {
    padding: .45rem 1rem;
}
