@charset "UTF-8";

@import './reset.css';
@import './header.css';
@import './main.css';
@import './footer.css';

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--color-sec);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray);
}

body::-webkit-scrollbar-thumb:active {
    background-color: var(--color-main);
}

a:focus, 
a:hover {
  outline: none;
}
