<%- include('../layouts/main', { title: 'Não encontrado', body: `
    <div class="container">
        <h1>Oops! Parece que a página não existe.</h1>
        <a href="/">Voltar para a página principal</a>
    </div>
`}) %>