<%- include('../layouts/main', {
  title: user?.name || 'Profile',
  body: `
    <div class="profile-container">  
      <div class="photo">
        <img src="${ userImage ? 'data:image/jpeg;base64,' + userImage : '../../img/profile/default_photo.jpg' }"
          alt="User profile photo">
      </div>

      <div class="profile-details">
        <div class="profile-header">
          <h1>${ user?.name || 'User' }</h1>

          <button id="edit-profile">Edit profile</button>
        </div>

        <div class="stats">
            <p>${ user?.stats?.news || 0 } News</p>
            <p>${ user?.stats?.followers || 0 } Followers</p>
            <p>${ user?.stats?.following || 0 } Following</p>
        </div>

        <div class="biography">
          <p>${ user?.bio || 'No biography available.' }</p>
        </div>
      </div>
    </div>
  `
}) %>