<%- include('../layouts/main', { title: 'Cadastrar' , body: `
    <form action="/signup" method="POST">
        <h1>Cadastrar</h1>

        <input type="text" name="name" placeholder="Nome">
        <input type="email" name="email" placeholder="E-Mail">
        <input type="password" name="password" placeholder="Senha">
        <input type="password" name="check-password" placeholder="Confirmar senha">

        <input type="submit" value="Cadastrar">
    </form>
`}) %>
